body{
    background-image: url("img/background_bois.jpeg");
    background-size: 100%;
    font-family: helvetica;
}

#wrapper{
    border: solid 2px black;
    width: 1400px;
    margin: auto;
    display: block;
}



#header{
    height: 50px;
    padding-top: 2px;
    background-color: rgb(69, 69, 69);
    border-bottom: black solid 2px;
}
.lienh{
    font-size: 14px;
    margin: 10px;
    text-decoration: none;
    color: whitesmoke;
}
.lienh:hover{
    color: rgb(0, 117, 126);
    transition: all 0.3s;
}
#barreheader{
    margin-top: 14px;
    margin-left: 20px;
    color: whitesmoke;
}



#nav{
    background-color: rgb(119, 116, 116);
    border-bottom: black solid 2px;
    height: 70px;
}
h1{
    margin-left: 10px;
    margin-top: 23px;
    float: left;
    color: rgb(0, 117, 126);
    font-size: 25px;
}
#menuNav{
    float: right;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
}
.lienn{
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    text-decoration: none;
    color: black;
    background-color: rgba(165, 204, 255, 0);
    padding: 15px;
}
.lienn:hover{
    background-color: rgb(69, 69, 69);
    border-radius: 10px;
    color: rgb(0, 117, 126);
    transition: all 0.3s;
}


#formulaire{
    width: 800px;
    height: auto;
    margin-left: 22%;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.711);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.600);
    border-radius: 10px;
}
table{
    margin: auto;
}
.title{
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: black solid 2px;
    background-color: rgba(0, 0, 0, 0.211);
    border-radius: 10px;
}


#section{
    background-color: rgba(221, 221, 221, 0.8);
    border-bottom: black solid 2px;
    min-height: 500px;
    padding-top: 2px;
}
#position{
    background-color: rgba(207, 207, 207);
    border: solid 2px rgba(0, 118, 126);
    width: 900px;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 1px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.600);
}
.lienC{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    margin-left: 30px;
    height: 100%;
}
.lienC:hover{
    color: rgba(0, 118, 126);
    transition: all 0.3s;
}
#position_texte{
    margin-left: 10px;
    margin-top: 2px;
}
#daySelection{
    width: 1200px;
    height: auto;
    margin-left: 120px;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.600);
    border-radius: 10px;
}
#bestSellers{
    width: 1200px;
    height: auto;
    margin-left: 120px;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.600);
    border-radius: 10px;
}
#formulaire{
    width: 800px;
    height: auto;
    margin-left: 22%;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.711);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.600);
    border-radius: 10px;
}
#p_vide_cagnotte{
    text-align: center;
    padding-bottom: 30px;
}


/* Slider */


.title{
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: black solid 1px;
    background-color: rgba(0, 0, 0, 0.211);
    border-radius: 10px;
}

#categorie{
    float: left;
    width: 400px;
    height: auto;
    margin-left: 120px;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.600);
    border-radius: 10px;
    padding-bottom: 7px;
}
#result{
    width: 800px;
    height: auto;
    margin-left: 560px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.600);
    border-radius: 10px;
}

footer{
    background-color: rgba(221, 221, 221, 0.574);
    text-align: center;
    height: 50px;
}