#header{
    padding-top: 2px;
    margin-top: auto;
    background-color: grey;
    border-bottom: black solid 2px;
}
#bvn{
    margin-left: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 170px;
    background-color: rgb(92, 169, 92);
}
h1{
    float: left;
    margin-top: 0;
    font-family: helvetica;
    color: black;
    font-size: 30px;
    text-align: center;
}
#nav{
    background-image: url("img/nav.jpeg");
    background-size: 8%;
    padding: 25px;
    border-bottom: black solid 2px;
}
#section{
    border-bottom: black solid 2px;
    height: 200px;
}
footer{
    text-align: center;
    height: 50px;
}
#wrapper{
    border: solid 2px black;
    width: 1800px;
    margin: auto;
    display: block;
}
.lien{
    font-size: 14px;
    font-family: helvetica;
    font-weight: bold;
    margin-left: 18px;
    text-decoration: none;
    color: black;
    background-color: rgba(165, 204, 255, 0);
    padding: 19px;
}
.lien:hover{
    background-color: rgba(163, 188, 221, 0.686);
    transition: all 0.3s;
}